<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <% activity = get_activity current_user %>
      <strong>Last login:</strong> <%= time_ago_in_words(activity.last_login) %><br />
      <strong>Last activity:</strong> <%= time_ago_in_words(activity.last_activity) %>
    </td>
  </tr>
</table>
